.input:focus {

}

.input {
}

.inputWrapper {
}

.superInput {
    color: green;
}

.errorInput {
    color: red;
    border-color: red;
}

.errorInput:focus {
    border-color: red;
}

.error {
    color: red;
}
